@model IEnumerable<Ode2Mvc4.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    // below overrides _ViewStart
    //Layout = null;
}

@section featured {
    <div>
        @DateTime.Now.ToShortDateString()
    </div>
}

<h2>Index</h2>
<h5>We are showing the latest @Model.Count() reviews</h5>

@foreach (var item in Model)
{
    @Html.Partial("_Reviews", item)
}

<p>
    @Html.ActionLink("Create New", "Create") 
</p>




